#titlebar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 56px;
  z-index: 1;
  color: white!important;
  background-color: #c71585!important;
}

.navbar-brand {
  color: white!important;
}

.navbar-text {
  color: white!important;
}

#tabbar {
  position: fixed;
  top: 57px;
  width: 100vw;
  z-index: 1;
}

#main {
  position: fixed;
  top: 99px;
  height: calc(100vh - 100px);
  width: 100%;
  overflow-y: auto;
}

.table-sticky {
  height: fit-content;
}

.table-sticky thead th {
  position: sticky;
  top: 0px;
  z-index: 1;
}

#detail-main {
  position: fixed;
  top: 57px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

#comment-list {
  position: fixed;
  top: 201px;
  height: calc(100vh - 249px);
  overflow-y: scroll;
  width: 48%;
  bottom: 25px;
}

#footer {
  position: fixed;
  bottom: 0;
}
