#titlebar {
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1;
}

#tabbar {
  position: fixed;
  top: 57px;
  width: 100vw;
  z-index: 1;
}

#main {
  position: fixed;
  top: 99px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.table-sticky thead th {
  position: sticky;
  top: 0px;
  z-index: 1;
}

#detail-main {
  position: fixed;
  top: 57px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

#comment-list {
  position: fixed;
  top: 201px;
  height: calc(100vh - 249px);
  overflow-y: scroll;
  width: 48%;
  bottom: 25px;
}

#footer {
  position: fixed;
  bottom: 0;
}
