{% load i18n %}
{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'items/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'items/css/wishlist.css' %}">
    <link rel="stylesheet" href="{% static 'items/bootstrap-icons/font/bootstrap-icons.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <nav id="titlebar" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
		<a class="navbar-brand">DriedPotate</a>
        <span class="navbar-text">manage what your team wants.</span>
        <div class="d-flex">
          {% if user.is_authenticated %}
          {% blocktranslate with first_name=user.first_name last_name=user.last_name%}{{ first_name }} {{ last_name }}{% endblocktranslate %}
          <form action="{% url 'account:password_change' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">{% trans 'Change Password' %}</button>
          </form>
          <form action="{% url 'account:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary"><i class="bi-door-open"></i>{% trans "Log Out" %}</button>
          </form>

          {% else %}
          {% trans 'Guest' %}<a href="/login" class="btn btn-primary"><i class="bi-person-fill"></i>{% trans "Login" %}</a>
          {% endif %}
        </div>
        </div>
      </nav>
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'items/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
