{% extends "items/base.html" %}
{% load i18n %}

{% block title %}DriedPotato{% endblock %}

{% block content %}
<div id="tabbar" class="row">
  <ul class="nav nav-tabs col-10">
    <li class="nav-item">
      {% if mode|stringformat:"s" == "index" %}
      <a class="nav-link active" href="{% url 'items:index' %}">{% trans "Unapproval" %}</a>
      {% else %}
      <a class="nav-link" href="{% url 'items:index' %}">{% trans "Unapproval" %}</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if mode|stringformat:"s" == "approval" %}
      <a class="nav-link active" href="{% url 'items:approval' %}">{% trans "Approval" %}</a>
      {% else %}
      <a class="nav-link" href="{% url 'items:approval' %}">{% trans "Approval" %}</a>
      {% endif %}
    </li>
  </ul>
  {% if user.is_authenticated %}
  <div class="col-2 text-end"><a href="{% url 'items:create' %}" class="btn btn-primary"><i class="bi-database-add"></i>{% trans "New" %}</a></div>
  {% endif %}
</div>
<div id="main" class="row">
  {% load humanize %}
  {% load mathfilters %}
  {% if latest_item_list %}
  <table class="table table-bordered table-sticky">
    <thead>
      <tr>
        <th class="field-__str__">{% trans "approval" %}</th>
        <th class="field-__str__">id</th>
        <th class="field-__str__">{% trans "item name" %}</th>
        <th class="field-__str__">{% trans "category" %}</th>
        <th class="field-__str__">{% trans "price" %}</th>
        <th class="field-__str__">{% trans "quantity" %}</th>
        <th class="field-__str__">{% trans "total" %}</th>
        <th class="field-__str__">{% trans "necessity" %}</th>
        <th class="field-__str__">{% trans "priority" %}</th>
        <th class="field-__str__">{% trans "Registered User" %}</th>
        {% if user.is_staff %}
        <th class="field-__str__">{% trans "Control" %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in latest_item_list %}
      <tr>
        <td>{% if item.approval %}{% trans "approval" %}{% else %}{% trans "Unapproved" %}{% endif %}</td>
        <td><a href="{% url 'items:detail' item.id %}">{{ item.id }}</a></td>
        <td>{{ item.item_name }}</td>
        <td>{{ item.category }}</td>
        <td class="text-end">{{ item.price|floatformat:"g" }}</td>
        <td class="text-end">{{ item.quantity|intcomma }}</td>
        <td class="text-end">{{ item.price|mul:item.quantity|floatformat:"g" }}</td>
        <td>{{ item.necessity|linebreaksbr }}</td>
        <td>{{ item.priority }}</td>
        <td>{% blocktranslate with first_name=item.author.first_name last_name=item.author.last_name%}{{ first_name }} {{ last_name }}{% endblocktranslate %}</td>
        {% if user.is_staff %}
        <td>
          <a href="{% url 'items:priority' item_id=item.id value=item.priority|add:1 %}"><i class="bi-hand-thumbs-up-fill"></i></a>
          {% if item.priority > 0 %}
          <a href="{% url 'items:priority' item_id=item.id value=item.priority|sub:1 %}"><i class="bi-hand-thumbs-down-fill"></i></a>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>{% trans 'No items are available.' %}</p>
  {% endif %}
</div>
{% endblock %}
