{% extends "items/base.html" %}
{% load i18n %}

{% block title %}{% trans "new item" %} - {% trans "wish list" %}{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{% for field in form %}
	<div class="form-row">
		{{ field.label }}
		{{ field }}
		{{ field.error }}
	</div>
	{% endfor %}
	<div class="submit-row">
        <button type="submit" class="btn btn-primary"><i class="bi-send"></i>{% trans "Send" %}</button>
        <a href="{% url 'items:detail' pk=item.pk %}" class="btn btn-outline-primary">{% trans "Cancel" %}</a>
	</div>
</form>
<hr>
<div><a href="{% url 'items:index' %}">{% trans "index" %}</a>

{% endblock %}
